@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Alfa+Slab+One&family=Archivo+Black&family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Alfa+Slab+One&family=Lexend:wght@100..900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container-w {
  height: 100vh;
  background: #a4e0dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container chính */
.form-box-login {
  width: 60%;
  height: 650px;
  background-color: #fff;
  display: flex;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(212, 169, 169, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 1;
}

/* Mỗi form chiếm nửa chiều rộng */
.form-section {
  width: 50%;
  padding: 40px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* Nội dung form */
.form-section h3 {
  font-size: 32px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  color: rgba(52, 133, 162, 1);
  margin: 0 auto 16px auto;
}

/* .form-section span {
  font-size: 17px;
  font-family: "Afacad", sans-serif;
  color: rgba(52, 133, 162, 1);
  margin-bottom: 20px;
} */

/* .type {
  width: 90%;
  margin: 0 auto 16px auto;
}

.type input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.type input::placeholder {
  color: #A9A8A9;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
} */

button {
  padding: 12px 70px;
  background: linear-gradient(135deg, rgba(99, 189, 226, 1), rgba(65, 211, 170, 1));
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
  font-family: "Afacad", sans-serif;
  font-size: 20px;
  text-align: center;
}


.register-btn:hover,
.login-btn:hover {
  opacity: 0.8;
  background: linear-gradient(135deg, rgb(35, 74, 90), rgb(43, 117, 146), rgb(27, 175, 133));
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -10px;
  transform: translateY(-2px);
}


/* TOGGLE PANEL */
.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;

}

.toggle-box::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #32b8af;
  border-radius: 150px;
  transition: 1.8s ease-in-out;
  z-index: 2;
}

.container-w.active .toggle-box::before {
  left: 50%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  /* background: seagreen; */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .6s ease-in-out;
  position: absolute;
  z-index: 3;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.container-w.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}

.container-w.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}



@media screen and (max-width: 650px) {
  .container-w {
    height: calc(100vh - 40px);
  }

  .form-box-login {
    bottom: 0;
    width: 100%;
    height: 70%;
  }

  .container-w.active .form-box {
    right: 0;
    bottom: 30%;
  }

  .toggle-box::before {
    left: 0;
    top: -270%;
    width: 100%;
    height: 300%;
    border-radius: 20vw;
  }

  .container-w.active .toggle-box::before {
    left: 0;
    top: 70%;
  }

  .container.active .toggle-panel.toggle-left {
    left: 0;
    top: -30%;
  }

  .toggle-panel {
    width: 100%;
    height: 30%;
  }

  .toggle-panel.toggle-left {
    top: 0;
  }

  .toggle-panel.toggle-right {
    right: 0;
    bottom: -30%;
  }

  .container.active .toggle-panel.toggle-right {
    bottom: 0;
  }
}

.toggle-panel p {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Afacad", sans-serif;
  color: #abe0df;
}

.toggle-panel h1 {
  margin-bottom: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Afacad", sans-serif;
  color: #47ded4;
}

.toggle-panel span {
  margin-bottom: 20px;
}

.google-login {
  display: flex;
  justify-content: center;
}

.google-login a {
  display: inline-flex;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  color: #333;
  margin: 0 8px;
}


#login-input,
#register-input {
  margin-top: 10%;
}


#password-register,
#confirm-password-register {
  width: 40vh;
  height: 5vh;
}


#or {
  display: flex;
  align-items: center;
  text-align: center;
  color: #999;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  letter-spacing: 0%;
  width: 100%;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  position: relative;
}

#or::before,
#or::after {
  content: '';
  flex: 1;
  border: 1px solid rgba(191, 191, 191, 1)
}

#or:not(:empty)::before {
  margin-right: .75em;
}

#or:not(:empty)::after {
  margin-left: .75em;
}

#login-button-form:hover,
#register-button-form:hover {
  background: linear-gradient(135deg, rgb(35, 74, 90), rgb(43, 117, 146), rgb(27, 175, 133));
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -10px;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}


#google-button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px -10px;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

#form {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "Afacad", sans-serif;
}

#span {
  color: #3485a2;
  font-family: "Afacad", sans-serif;
}
