#background-image {
  /* background-image: url(/public/Income-background.png); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#profile-container{
  display: flex;
  flex-direction: row;
  gap: 10px;

}
#profile-stack {
background-color: none;
}
#username , #avatar {
  font-size: 18px;
  width: 40vh;
}

#avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
#username:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}