body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.backgroundImage {
  background-size: cover;
  background-position: center;
  background: linear-gradient(59deg, #177D82, #3CA6A5, #ebfffd);
  width: 100%;
  height: 100%;
  overflow: hidden;

  @media (max-width: 36em) {
    max-height: rem(785px);
    max-width: rem(425px);
    margin: 0 auto;
  }

  @media (min-width: 48em) {
    max-height: rem(785px);
    max-width: rem(768px);
  }

  @media (min-width: 62em) {
    max-width: rem(1024px);
    min-width: rem(1024px);
    min-height: rem(800px);
    max-height: rem(800px);
  }

  @media (min-width: 88em) {
    max-width: rem(1440px);
    min-width: rem(1580px);
    min-height: rem(860px);
    max-height: rem(860px);
  }

  @media (min-width: 100em) {
    max-width: rem(2560px);
    min-width: rem(2560px);
    min-height: rem(1440px);
    max-height: rem(1440px);

  }

}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @media (max-width: 36em) {
    min-width: rem(425px);
    max-width: rem(425px);
    min-height: rem(730px);
    max-height: rem(900px);
  }

  @media (min-width: 48em) {
    min-width: rem(768px);
    max-width: rem(768px);
    min-height: rem(720px);
    max-height: rem(900px);
  }

  @media (min-width: 62em) {
    min-width: rem(1024px);
    max-width: rem(1024px);
    min-height: rem(700px);
    max-height: rem(900px);
  }

  @media (min-width: 88em) {
    min-width: rem(1440px);
    max-width: rem(1440px);
    min-height: rem(700px);
    max-height: rem(900px);
  }

}

.profileStack,
.profileStackUpdate {
  background-color: #5bb3b3;
}

.profileStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  margin-bottom: rem(20px);
}

.profileBox {
  background-color: #5bb3b3;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  margin-bottom: rem(20px);

  @media (max-width: 36em) {
    width: rem(370px);
    height: rem(350px);

  }

  @media (min-width: 48em) {
    width: rem(400px);
    height: rem(350px);

  }

  @media (min-width: 62em) {
    width: rem(500px);
    height: rem(350px);

  }

  @media (min-width: 88em) {
    width: rem(500px);
    height: rem(350px);

  }
}

.username,
.avatar {
  font-size: 18px;
  width: 40vh;
}

.avatar:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.username:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.profileGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileGroupText {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}